.spikes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #151515;
    height: 83vh;
    border-left: 1vh solid #2046f5;
    color: #EDF6FD;
}

.spikes::after {
    content: '';
    position: absolute;
    right: 0;
    left: -3%;
    top: 100%;
    z-index: 10;
    display: block;
    height: 70px;
    background-size: 70px 100%;
    background-image: linear-gradient(135deg, #151515 25%, transparent 25%), linear-gradient(225deg, #2046f5 25%, transparent 25%);
    background-position: 0 0;
}

.main-div{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pic{
    width: auto;
    height: 55vh;
    border-radius: 50%;
    border: 0.5vw solid blue;
}

.text-div{
    padding: 10px;
    width: max(20vw, 30vh);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title{
    font-size: calc(1.5rem + 1vw);
    text-decoration: underline;
    text-decoration-color: #ED254E;
}

.subtitle{
    font-size: calc(0.5rem + 1vw);
}
