.Title{
    /* Disable Highlight Text */
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

    /* Color */
    background-color: #edf6fd;
    color: #151515;

    /* Font */

    /* Spacing */
    margin: 1vh 0 1vh 2vw;
    width: 20vw;

    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    /* Border */
    border-bottom: 1vw solid blue ;
    border-radius: 0.5vw 0 0 0.5vw;

    /* Pointer */
    cursor: pointer;
}

div.Title > div{
    color: #151515;
    margin: 1vh 0;
    font-weight: bold;
    font-size: max(1.2rem, 4vh);
    color: #151515;
    overflow: hidden;
    white-space: nowrap;
}
.underline{
    text-decoration-color: #ED254E;
}