.main-blog-div{
    width: 80vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 40%;
    background-color: #ffffff;
    border-radius: 1vh;
}

.blog-item{
    align-self: start;
}

.blog-pic{
    color: #ADD7F6;
    width: 100%;

}

.visit-blog{
    color: #ADD7F6;
    line-height: 0;
    margin: 0;
    padding: 0;
}

.visit-blog:hover{
    color: #ED254E;
    cursor: pointer;
}

.title-container{
    background-color: #151515;
    align-self: center;
    justify-self: center;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}