h3.contact-info > u {
    text-decoration: underline;
    text-decoration-color: #ED254E;
    padding-top: 2vh;
    line-height: 0.5;
}

h3.contact-info {
    line-height: 1;
}

h1.contact-info {
    padding-top: 2vh;
    line-height: 0;
}





/* FORM CSS (DELETE?) */

form.contact-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

form.contact-form > label > input, textarea, button {
    width: 20vw;
}

form.contact-form > input, label {
    width: 10vw;
}