.contact-subtitle > u {
    text-decoration: underline;
    text-decoration-color: #ED254E;
}

.contact-subtitle {
    color: #ADD7F6;
    line-height: 1;
    padding: 0;
    margin: 0;
}

.contact-info {
    color: #edf6fd;
    cursor: pointer;
    line-height: 0;
}
.contact-info:hover {
    color: #ED254E
}

.contact-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 3vh 3vw;
}

.all-contacts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.copyPic{
    width: 1.5vw;
    background-color: #edf6fd;
    border-radius: 0.2vw;
    cursor: pointer;
    margin: 0 0 0 1vw;
}

.copy-div{
    display: flex;    
}

.copy-message{
    color: #ADD7F6;
    border-radius: 0.2vw;
    line-height: 0;
}

.display-off{
    display: none;
}