.Navbar{
    /* Disable Highlight Text */
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

    /* Color */
    background-color: aliceblue;

    /* Font */
    font-size: max(1.7rem, 5vh);

    /* Spacing */
    padding: 2vh;

    /* Flexbox */
    display: flex;
    justify-content: space-around;
}

div.clicked{
    text-decoration: underline;
}