div.Navbar{
    /* Disable Highlight Text */
    -webkit-user-select: none;       
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 

    /* Color */
    background-color: #edf6fd;
    color: #151515;

    /* Font */
    /* font-size: max(1.2rem, 4vh); */
    font-size: calc(1.5rem + 0.5vh);

    /* Spacing */
    margin: 1vh 2vw;
    width: 100vw;

    /* Flexbox */
    display: flex;
    justify-content: space-around;

    /* Border */
    border-bottom: 1vw solid blue ;
    border-radius: 0.5vw;
    
}

div.Navbar > div{  
    margin: 1vh 0;
}

div.Navbar > div:hover{
    text-decoration: underline;
    text-decoration-color: #ED254E;
    cursor: pointer;
}

div.clicked{
    text-decoration: underline;
    text-decoration-color: #ED254E;
}

.underline{
    padding: 0 0.2vw;
    font-weight: 800;
    text-decoration-color: #ED254E;
}

@media screen and (max-width: 600px) {
    .Navbar div:not(:first-child) {display: none;}
    /* .Navbar div.icon {
      display: block;
    } */
}